@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/ExtraBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-ExtraBoldItalic.woff) format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.3;
}

h1 {
  font-family: "Comforter", cursive;
  font-size: 130px;
  text-shadow: 5px 10px 15px black;
}

header > p {
  font-family: "OpenSans", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-shadow: 5px 5px 20px rgba(107, 103, 103, 0.61);
}
header span {
  letter-spacing: 2px;
  text-transform: capitalize;
}

nav > ul > li > a {
  color: rgb(247, 14, 14);
  font-family: "Comforter", cursive;
  font-size: 45px;
  text-shadow: 5px 5px 10px rgba(141, 7, 7, 0.801);
}
h2 {
  font-family: "OpenSans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 25px;
}
.text {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
}
.text span {
  font-family: OpenSans, sans-serif;
  font-style: italic;
  word-spacing: 10px;
  color: rgba(247, 19, 30, 0.897);
}
.content {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.content span {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 19, 19);
}
.paragraph {
  color: rgb(243, 20, 12);
  text-shadow: 2px 2px 8px rgba(202, 176, 176, 0.801);
}
.paragraph span {
  color: #000;
  font-family: "OpenSans";
  font-weight: 800;
  font-style: italic;
}
.text-text {
  font-family: "OpenSans";
  font-style: italic;
}
.list {
  font-family: "OpenSans";
  font-weight: 800;
  font-style: italic;
  text-align: left;
  text-indent: 50px;
  text-shadow: 2px 2px 8px rgba(153, 147, 147, 0.801);
  line-height: 1.5;
}
.footer {
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 18px;
}
footer > ul > li > a {
  color: rgb(223, 10, 10);
  text-decoration: underline;
  letter-spacing: 1px;
  text-transform: uppercase;
}
